/* Estilos generales para todo el documento */
body {
    font-family: 'Times New Roman', Times, serif;
background-image: url(images/ichigo.png) ; 
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; /* Opcional, esto evita que la imagen se desplace con el contenido */
 margin: 0;
    padding: 0;
    
}

/* Estilos para el encabezado */
h1 {
    color: #ecb53f;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Estilos para los resultados */
#result {
    margin-top: 20px;
    font-weight: bold;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}
